////////// CONTACTO //////////
.formulariobox {
    display: flex;
    flex-wrap: wrap;
    height: 100%;

    .formulariobox__titulo {
        text-align: center;
        width: 50%;
        margin: auto;

        .formulario__titulo {
            font-family: $font-title;
            font-size: 6rem;
            color: white;
            text-shadow: 5px 5px 0px black
        }

        .formulario__description {
            padding: 30px;
            font-family: $font-text;
            font-size: 20px;
            color: white;
        }
    }

    .formulariobox__formulario {
        display: flex;
        text-align: center;
        width: 50%;
        margin: 20px auto;

        .formulario {
            margin: auto;

            .formulario__input {
                width: 20rem;
                height: 3rem;
                margin: 5px 5px;
                font-family: $font-title;
                font-size: 20px;
                text-align: center;
                border-radius: 20px;
            }

            .name__lastname__form {
                border-radius: 20px;
                width: 20rem;
                height: 3rem;
            }

            .email__form {
                width: 30rem;
            }

            .age__country {
                display: flex;
                text-align: center;
                justify-content: center;
                margin: auto;
            }
            
            .age__form {
                width: 100px;
            }

            .comment {
                width: 30rem;
                height: 12rem;
                padding: 10px;
            }

            .formulario__button {
                margin: 30px;
                text-align: center;

                .formulario__submit {
                    @include buttons
                }
                
                .formulario__submit:hover {
                    background-color: #66228b;
                    box-shadow: none;
                }
            }
        }
    }
}