////////// HOME //////////

.presentation__section {
    display: flex;
    background-image: url(../img/euphoriabanner.png);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    height: 100vh;

    .presentation {
        display: flex;
        margin: auto;
        font-family: Staatliches;
        font-size: 70px;
        color: white;
        text-align: center;
        animation-duration: 2s;
        animation-name: titleglow;
        animation-iteration-count: infinite;

        @keyframes titleglow {
            0% {
                text-shadow: 
                0 0 5px rgb(209, 76, 218),
                0 0 10px rgb(209, 76, 218),
                0 0 20px rgb(209, 76, 218),
            }
            50% {
                text-shadow:
                0 0 40px rgba(38,104,127,1),
                0 0 80px rgba(38,104,127,1),
                0 0 90px rgba(38,104,127,1),
                0 0 100px rgba(38,104,127,1),
                0 0 140px rgba(38,104,127,1),
                0 0 180px rgba(38,104,127,1);
            }
        }
    }
}
 

.subtitlebox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-content: center;
    margin: 10px auto;
    margin-bottom: 20px;

    .subtitlebox__div {
        width: 50rem;
        margin: 0px 10px;
        text-align: center;
        align-self: center;

        .subtitle__video {
            width: 100%;
        }

        .subtitlebox__subtitle {
            font-family: Staatliches;
            font-size: 60px;
            color: white;
            text-shadow: 
                0 0 5px rgb(209, 76, 218),
                0 0 10px rgb(209, 76, 218),
                0 0 20px rgb(209, 76, 218),
                0 0 40px rgba(38,104,127,1),
                0 0 80px rgba(38,104,127,1),
                0 0 90px rgba(38,104,127,1),
                0 0 100px rgba(38,104,127,1),
                0 0 140px rgba(38,104,127,1),
                0 0 180px rgba(38,104,127,1);
        }

        .subtitlebox__description {
            font-family: HelveticaNeue1;
            font-size: 25px;
            margin: 20px;
            color: white;
        }

        .subtitlebox__phrase {
            font-family: HelveticaNeue1;
            font-size: 25px;
            color: white;
            text-shadow: 
                0 0 5px rgb(209, 76, 218),
                0 0 10px rgb(209, 76, 218),
                0 0 20px rgb(209, 76, 218),
                0 0 40px rgba(38,104,127,1),
                0 0 80px rgba(38,104,127,1),
                0 0 90px rgba(38,104,127,1),
                0 0 100px rgba(38,104,127,1),
                0 0 140px rgba(38,104,127,1),
                0 0 180px rgba(38,104,127,1);
            transition: transform 2s;
        }

        .subtitlebox__phrase:hover {
            transform: scale(1.5,1.5);
        }
    }
}

.parallax {
    background-image: url(../img/banner.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;

    .personajesbox {
        padding: 15px;
        .personajesbox__image {
            display: flex;
            width: 50%;
            margin: 0px auto;

            .personajesbox__title {
                width: 100%;
            }
        }

        .personajesbox__personajes {
            display: flex;
            justify-content: space-around;
            align-self: center;
            flex-wrap: wrap;
            margin: 0px auto;

            .personajesbox__images {
                width: 15%;
                transition: transform 1s;

                .personajes {
                    width: 100%;
                }
            }
            
            .personajesbox__images:hover {
                transform: scale(1.1,1.1);
            }
            
            .personajesbox__plus {
                width: 5%;
                margin: auto 0px;

                .plus {
                    width: 100%;
                }
            }
        }
    }
}

.newsbox {
    background-color: #74269d;
    margin: 20px 0px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .newsbox__section {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 20rem;
        margin: 10px auto;
        width: 20rem;

        .section__title {
            font-family: Staatliches;
            font-size: 50px;
            color: white;
            text-shadow: 
                0 0 5px rgb(209, 76, 218),
                0 0 10px rgb(209, 76, 218),
                0 0 20px rgb(209, 76, 218),
                0 0 40px rgba(38,104,127,1),
                0 0 80px rgba(38,104,127,1),
                0 0 90px rgba(38,104,127,1),
                0 0 100px rgba(38,104,127,1),
                0 0 140px rgba(38,104,127,1),
                0 0 180px rgba(38,104,127,1);
        }
        
        .section__description {
            font-family: HelveticaNeue1;
            font-size: 25px;
            color: white;
        }
    }

    .newsbox__news {
        display: flex;
        flex-wrap: wrap;
        padding: 10px;
        margin: 10px auto;
        justify-content: space-around;
        width: 80%;

        .news {
            background-color: #66228b;
            box-shadow: 0px 10px 20px black;
            width: 25rem;
            margin: 10px auto;

            .news__image {
                width: 100%;
            }

            .news__box {
                padding: 20px;
                text-align: center;

                .news__title {
                    font-family: Staatliches;
                    font-size: 40px;
                    color: white;
                    text-shadow: 
                        0 0 5px rgb(209, 76, 218),
                        0 0 10px rgb(209, 76, 218),
                        0 0 20px rgb(209, 76, 218),
                        0 0 40px rgba(38,104,127,1),
                        0 0 80px rgba(38,104,127,1),
                        0 0 90px rgba(38,104,127,1),
                        0 0 100px rgba(38,104,127,1),
                        0 0 140px rgba(38,104,127,1),
                        0 0 180px rgba(38,104,127,1);
                }
                
                .news__article {
                    font-family: HelveticaNeue1;
                    font-size: 20px;
                    color: white;
                }
            }
        }
    }
}

.episodesbox {
    margin: 20px;

    .episodesbox__section {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        text-align: center;

        .episodesbox__section__title {
            font-family: Staatliches;
            font-size: 70px;
            color: white;
            text-shadow: 
                0 0 5px rgb(71, 131, 188),
                0 0 10px rgb(75, 139, 207),
                0 0 20px rgb(75, 139, 207),
                0 0 40px rgb(28, 67, 104),
                0 0 80px rgb(28, 67, 104),
                0 0 90px rgb(28, 67, 104),
                0 0 100px rgb(50, 57, 188),
                0 0 140px rgb(50, 57, 188),
                0 0 180px rgb(50, 57, 188);
        }
        
        .episodesbox__section__description {
            font-family: HelveticaNeue1;
            font-size: 30px;
            color: white;
        }
    }

    .episodes {
        display: flex;
        flex-wrap: wrap;
        margin: auto;

        .episodes__box {
            background-color: #a125e351;
            box-shadow: 10px 10px 30px rgb(36, 13, 58);
            border-radius: 20px;
            margin: auto;
            width: 40rem;
            height: auto;
            margin: 20px auto;

            .episodes__imagetitle {
                width: 100%;
            }

            .episodes__image {
                width: 100%;
            }

            .episodes__episodebox {
                padding: 20px;
                text-align: center;

                .episodes__title {
                    font-family: Staatliches;
                    font-size: 2.5rem;
                    color: white;
                    text-shadow: 
                        0 0 5px rgb(71, 131, 188),
                        0 0 10px rgb(75, 139, 207),
                        0 0 20px rgb(75, 139, 207),
                        0 0 40px rgb(28, 67, 104),
                        0 0 80px rgb(28, 67, 104),
                        0 0 90px rgb(28, 67, 104),
                        0 0 100px rgb(50, 57, 188),
                        0 0 140px rgb(50, 57, 188),
                        0 0 180px rgb(50, 57, 188);
                }
                
                .episodes__description {
                    font-family: HelveticaNeue1;
                    font-size: 25px;
                    color: white;
                }
            }
        }
    }
}

.grilla {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;

    .grid {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(3, 30%);
        gap: 2px;
        margin: auto;
        height: 100%;
        object-fit: cover;

        .div-grid:nth-of-type(1) {
            grid-column: 1 / 5;
            grid-row: 1 / 4;

            .div-gri__image {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        
        .div-grid:nth-of-type(2) {
            grid-column: 5 / 8;
            grid-row: 1 / 2;

            .div-gri__image {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        
        .div-grid:nth-of-type(3) {
            grid-column: 5 / 8;
            grid-row: 2 / 4;

            .div-gri__image {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        
        .div-grid:nth-of-type(4) {
            grid-column: 8 / 13;
            grid-row: 1 / 4;

            .div-gri__image {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}