@media screen and (max-width: 1400px) {
    .bio__button {
        margin: 40px 0px;
        text-align: center;
    }
}

@media screen and (max-width: 1070px) {

    .formulariobox {

        .formulariobox__titulo {
            width: 100%;
        }

        .formulariobox__formulario {
            width: 100%;
        }
    }
}

@media screen and (max-width: 800px) {

    .usbox__picture:nth-child(1) {
        grid-column: 1 / 13;
        grid-row: 1 / 6;

        .usbox__images {
            grid-template-rows: repeat(20, 1fr);
        }
    }
    
    .usbox__picture:nth-child(2) {
        grid-column: 1 / 13;
        grid-row: 6 / 11;

        .usbox__images {
            grid-template-rows: repeat(20, 1fr);
        }
    }
    
    .usbox__picture:nth-child(3) {
        grid-column: 1 / 13;
        grid-row: 11 / 16;

        .usbox__images {
            grid-template-rows: repeat(20, 1fr);
        }
    }
    
    .usbox__picture:nth-child(5) {
        grid-column: 1 / 7;
        grid-row: 16 / 21;

        .usbox__images {
            grid-template-rows: repeat(20, 1fr);
        }
    }
    
    .usbox__picture:nth-child(4) {
        grid-column: 7 / 13;
        grid-row: 16 / 21;

        .usbox__images {
            grid-template-rows: repeat(20, 1fr);
        }
    }
}

@media screen and (max-width: 720px) {
    header {
        height: 10rem;

        .navbar__list {
            flex-wrap: wrap;
            justify-content: center;
    
            .navbar__item {
                margin: 10px 0px;
            }
        }
    }
}

@media screen and (max-width: 550px) {

    .footer {

        .footer__socialmedia {
            padding: 10px;

            .footer__socialmediabox {
                
                .socialmedia__items {
                    font-size: 20px;
                }
            }
        }

        .footer__nav {
            padding: 10px;

            .footer__nav__box {

                .footer__nav__title {
                    font-size: 20px;
                }
            }
        }
    }

    .presentation__section {
        background-image: url(../img/euphoriapresentation.jpg);
        background-position: center;

        .presentation {
            font-size: 30px;
        }
    }

    .subtitle {

        .subtitlebox {

            .subtitlebox__div {

                .subtitlebox__subtitle {
                    font-size: 3rem;
                }
            }
        }
    }

    .episodesbox {

        .episodesbox__section {
            width: 100%;

            .episodesbox__section__title {
                font-size: 4rem;
            }

            .episodesbox__section__description {
                font-size: 25px;
            }
        }
    }

    
    .newsbox {
        padding: 0px;
        justify-content: center;

        .newsbox__news {
            width: 100%;

            .news {
                width: 30rem;

                .news__box {
                    padding: 10px;
                }
            }
        }
    }

    .formulariobox {

        .formulariobox__titulo {
            width: 100%;

            .formulario__titulo {
                font-size: 3rem;
            }
        }

        .formulariobox__formulario {
            width: 100%;

            .formulario {

                .formulario__item {

                    .formulario__input {
                        width: 90%;
                    }
                
                    .name__lastname__form {
                        width: 90%;
                    }
                
                    .email__form {
                        width: 90%;
                    }

                    .country__form {
                        width: 90%;
                    }
                
                    .age__country {
                        flex-direction: column;
                    }
                
                    .comment {
                        width: 90%;
                    }
                }
            }
        }
    }


}

@media screen and (max-width: 450px) {

    header {
        height: 14rem;

        .navbar__nav {

            .navbar__logo {
                width: 60%;
            }
        }
    }

    .presentation {
        font-size: 50px;
        flex-direction: column;
    }

    .subtitlebox__subtitle {
        font-size: 40px;
    }

    .subtitlebox__description {
        font-size: 20px;
        margin: 20px 0px
    }

    .personajesbox {
        padding: 0px;

        .personajesbox__image {
            width: 80%;
        }
    }

    .section__description {
        font-size: 20px;
    }

    .episodesbox {
        margin: 10px;

        .episodesbox__section__title {
            font-size: 50px;
        }

    .episodesbox__section__description {
            font-size: 20px;
        }

        .episodes__title {
            font-size: 23px;
        }
    
        .episodes__description {
            font-size: 18px;
        }
    }


    .footer__nav__title {
        font-size: 20px;
    }

    .footer__nav__link {
        font-size: 20px;
    }

    .footer__socialmedia {
        width: 5rem;
    }

    .news__section {
        padding: 10px;

        .newsbox__titlesection__title {
            font-size: 50px;
        }
    
        .newsbox__titlesection__description {
            font-size: 20px;
        }
    }

    .noticias__newsbox__box {
        padding: 5px;

        .noticias__news__title {
            font-size: 30px;
        }
    }


    .nosotrosbox__presentation {
        margin: 15px 5px;

        .nosotros__description {
            font-size: 20px;
            padding: 10px;
        }
    }

    .usbox {
        margin: 10px;

        .usbox__title {
            font-size: 50px;
        }

        .usbox__description {
            font-size: 20px;
        }

        .usbox__contact__title {
            font-size: 30px;
        }
    }

    .personajes__title {
        margin: 10px 0px;
        padding: 10px;
        font-size: 30px;
    }

    .grilla {
        width: 100%;
        padding: 0px;
    }
}