////////// HOME //////////
.news__section {
    padding: 30px;

    .noticias__newsbox__titlesection {
        display: flex;
        flex-flow: column;
        text-align: center;
        margin: 10px 0px;

        .newsbox__titlesection__title {
            font-family: $font-title;
            font-size: 70px;
            color: white;
            text-shadow: 
                0 0 5px rgb(209, 76, 218),
                0 0 10px rgb(209, 76, 218),
                0 0 20px rgb(209, 76, 218),
                0 0 40px rgba(38,104,127,1),
                0 0 80px rgba(38,104,127,1),
                0 0 90px rgba(38,104,127,1),
                0 0 100px rgba(38,104,127,1),
                0 0 140px rgba(38,104,127,1),
                0 0 180px rgba(38,104,127,1);
        }
        
        .newsbox__titlesection__description {
            text-decoration: none;
            font-family: $font-text;
            font-size: 30px;
            color: white;
        }
    }

    .news__button {
        @include sticky-buttons;
    
        .button-stick-news {
            @include buttons;
        }
    
        .button-stick-news:hover {
            background-color: #66228b;
            box-shadow: none;
        }
    }

    .noticias__newsbox__box {
        padding: 10px;
        display: flex;
        flex-wrap: wrap;

        .noticias__newsbox__news {
            width: 30rem;
            background-color: #74269d;
            box-shadow: 10px 10px 30px rgb(36, 13, 58);
            margin: 20px auto;

            .noticias__newsbox__image {
                width: 100%;
            }

            .noticias__news__articlebox {
                padding: 10px;
                text-align: center;

                .noticias__news__title {
                    font-family: $font-title;
                    font-size: 40px;
                    color: white;
                    text-shadow: 
                    0 0 5px rgb(209, 76, 218),
                    0 0 10px rgb(209, 76, 218),
                    0 0 20px rgb(209, 76, 218),
                    0 0 40px rgba(38,104,127,1),
                    0 0 80px rgba(38,104,127,1),
                    0 0 90px rgba(38,104,127,1),
                    0 0 100px rgba(38,104,127,1),
                    0 0 140px rgba(38,104,127,1),
                    0 0 180px rgba(38,104,127,1);

                    .specialtext {
                        font-family: $font-title;
                        font-size: 40px;
                        color: rgb(252, 203, 203);
                        text-shadow: 
                            0 0 5px rgb(71, 131, 188),
                            0 0 10px rgb(75, 139, 207),
                    }
                }
                
                .noticias__news__article {
                    font-family: $font-text;
                    font-size: 20px;
                    color: white;
                    margin-top: 20px;
                }
            }
        }
    }

    .noticias__newsbox__button {
        text-align: center;

        .noticias__newsbox__link {
            @include buttons;
        }

        .noticias__newsbox__link:hover {
            background-color: #66228b;
            box-shadow: none;
        }
    }
}